*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.text{
   padding-top: 30px;
  text-align: center;
  font-size: 20px;
}
.box{
    width: 450px;
    /* height: 150px; */
    padding-bottom: 130px;
    padding-left: 5px;
    margin-top: 20px;
    border: 1.4px solid black;
   margin-left: 420px;
}
.submit{
    padding: 5px 35px;
    color: white;
    background-color: rgb(252, 103, 128);
    border: none;
    border-radius: 16px;
    margin-top: 10px;
   margin-left: 570px;
   box-shadow: 1px 2px 3px rgb(58, 58, 58);
}

  .footer-background{
            position: absolute;
            width: 1250px;
            height: 330px;
          
        }
        .footer-P{
          display: flex;
          align-items: center;
            margin-left: 600px;
            margin-top: 20px;
            position: absolute;
        }
       .footer-section {
        display:flex;
        color: white;
        margin-top: 30px;
      }
      .footer-section2{
        color: white;
        position: absolute;
        padding-top: 170px;
        display: flex;
        gap: 50px;
        margin-left: 300px;
      }
      .footer-section2 li{
        list-style: none;
      }
      .get{
        font-size: large;
        margin-left: 100px;
        margin-top: 30px;
      }
      .bnt-containers button{
        margin-right: 500px;
        position: absolute;
      }
      .log-bnt{
        color: white;
        padding: 5px 20px;
        background-color: transparent;
        border-radius: 4px;
        border: 1.5px solid white;
        margin-top: 60px;
      }
      .sign-bnt{
        color: white;
        padding: 5px 20px;
        background-color: rgb(255, 104, 129);
        border-radius: 4px;
        border:none;
        margin-top: 60px;
      }
      .card22A{
        margin-top: 60px;
        position: absolute;
        width: 100px;
        margin-left: 350px;
      }
      .card23A{
        position: absolute;
        margin-top: 60px;
        margin-left: 470px;
        width: 100px;
      }
      .line{
        /* color: white; */
        position: absolute;
        width:1250px;
        border: 1.4px solid white;
        margin-top: 290px;
       
      }
      .fotter-section3{
        display: flex;
        color: white;
        position: absolute;
        gap: 50px;
        margin-top: 300px;
        margin-left: 400px;
       
      }
