*{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        
        }
        .navbar{
            position: absolute;
        }
        .navbar ul{
            margin-left: 20px;
            display: flex;
            gap: 125px;
            
        }
        .navbar ul li{
            list-style: none;
            display: flex;
            color:black;
            
        }
        .navbar ul li button{
            width: 35px;
          border-radius: 95%;
          border: none;
            background-color:rgb(250, 246, 246);
        }
        .hero-section{
            display: flex;
          justify-content: center;
          gap: 50px;
        }
        .hero-section p{
            margin-top: 50px;
            margin-bottom: 50px;
          font-size: 25px;
        font-family: "Poppins", sans-serif;
        color: rgb(230, 229, 229);
        }
        .img{
          float: left;
          width: 100px;
        }
        .p1{
          font-size: 24px;
          padding-top: 10px;
        }
        .img-section{
           border: 1.4px solid rgb(189, 189, 189);
           padding-bottom: 40px;
          margin-right: 100px;
        }
      .hero-section1{
        padding-left: 60px;
        gap: 200px;
        /* border: 1.4px solid black; */
      }
      .hr-line{
        margin-left: 840px;
        margin-right: 10px;
      }
  .hero-section2{
        padding-left: 60px;
        gap: 200px;
        /* border: 1.4px solid black; */
      }
      .hr-line2{
        margin-left: 840px;
        margin-right: 19px;
      }
      .hero-section3{
        padding-top: 10px;
        display: flex;
        gap: 900px;
        margin-left: 62px;
      }
      .hero-section4{
        margin-top: 15px;
        display: flex;
        margin-bottom: 15px;
      }
      .hero-section4 button{
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid rgb(248, 102, 126);
        background-color: white;
        margin-left: 60px;
       
        
      }
     .button2 button{
        padding: 10px 30px;
        border-radius: 10px;
        border: 0px;
        background-color: rgb(248, 102, 126);
        margin-left: 750px;
      }

       .card-section{
            justify-items: center;
            align-items: center;
          justify-content: center;
            display: flex;
            gap: 110px;
            margin-right: 40px;
            margin-top: 20px;
          }

          .footer-background{
            position: absolute;
            width: 1256.10px;
            height: 380px;
            margin-top: 40px;
        }
        .footer-P{
          text-align: center;
          display: flex;
            margin-left: 600px;
            margin-top: 50px;
            position: absolute;
        }
      .footer-section {
        display:flex;
        margin-top: 40px;
        color: white;
      }
      .footer-section2{
        color: white;
        position: absolute;
        padding-top: 200px;
        display: flex;
        gap: 50px;
        margin-left: 300px;
      }
      .footer-section2 li{
        list-style: none;
        margin-top: 10px;
      }
      .get{
        font-size: large;
        margin-left: 130px;
        margin-top: 50px;
      }
      .card22A{
        margin-top: 80px;
        position: absolute;
        width: 100px;
        margin-left: 350px;
      }
      .card23A{
        position: absolute;
        margin-top: 80px;
        margin-left: 470px;
        width: 100px;
      }
      .line{
        position: absolute;
        width:1240px;
        border: 1.4px solid white;
        margin-top: 370px;
      
      }
      .fotter-section3{
        display: flex;
        color: white;
        position: absolute;
        gap: 50px;
        margin-top: 380px;
        margin-left: 400px;
      }

