.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  /* padding: 20px; */
  position: relative;
  background-color: rgba(255, 255, 255, 0.989);
  color: #fff;
  font-family: poppins;
  margin-left: 500px;
  margin-top: 50px;
}
.signin {
  margin-left: 130px;
  text-align: center;
  font-size: 17px;
}
.signin a {
  color:blue;
  text-decoration: none;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #ffffff;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.submit-bnt{
    padding: 7px 90px;
    margin-bottom: 10px;
    margin-left: 580px;
    color: white;
    background-color:rgb(254, 108, 133);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 1px 2px 3px rgb(91, 90, 90);
}
span{
color: black;
}
.images{
  width: 50px;
  color: black;
  background-color: black;
  margin-left: 150px;
  border: 1px solid black;
}
.icon{
    border: 1px solid black; 
    width: 20px;
    margin-right: 5px;
}
 .footer-background{
            position: absolute;
            width: 1256.10px;
            margin-top: 40px;
            height: 380px;
        }
        .footer-P{
            align-items: center;
            display: flex;
            margin-left: 600px;
            margin-top: 50px;
            position: absolute;
        }
       .footer-section {
        padding-top: 0px;
        display:flex;
        color: white;
      }
      .footer-section2{
        color: white;
        position: absolute;
        padding-top: 200px;
        display: flex;
        gap: 50px;
        margin-left: 300px;
       
       
      }
      .footer-section2 li{
        list-style: none;
      }
      .get{
        font-size: large;
        margin-left: 50px;
        margin-top: 50px;
      }
      .card22A{
        margin-top: 80px;
        position: absolute;
        width: 100px;
        margin-left: 350px;
      }
      .card23A{
        position: absolute;
        margin-top: 80px;
        margin-left: 470px;
        width: 100px;
      }
      .line{
        position: absolute;
        width:1250px;
        border: 1.4px solid white;
        margin-top: 370px;
       
      }
      .fotter-section3{
        display: flex;
        color: white;
        position: absolute;
        gap: 50px;
        margin-top: 380px;
        margin-left: 400px;
       
      }
