*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  .navbar{
            gap: 50px;
            position: absolute;

        }
        .navbar ul{
            display: flex;
            gap: 150px;
            
        }
        .navbar ul li{
            list-style: none;
            display: flex;
            color: white;
            
        }
        .navbar ul li button{
            width: 35px;
           border-radius: 95%;
           border: none;
            background-color: white;
        }
        #background{
            display: flex;
            width: 100%;
            height: 600px;
            margin-bottom: 20px;
        }
        .h1{
            margin-left: 200px;
            margin-top: 300px;
            position:absolute;
            color: white;
        }
        .card-container1{
            position: relative;
            display: flex;
            margin-bottom: 30px;
            margin-left: 180px;
            gap: 50px;
        }
        .card-items{
            display: block;
            border: 1px solid black;
            box-shadow: 1px 2px 1px rgb(53, 53, 53);
        }
        .card-container2{
            display: flex;
            margin-left: 180px;
            gap: 50px;
            margin-bottom: 50px;
        }
        .text-overlay{
            position: absolute;
            display: block;
            text-align: center;
            padding: 5px 15px;
            margin-top: 50px;
            background-color: rgb(0, 0, 0, 0.5);
            color: white;
            font-size: 1.2em;
        
        }
        .card-container3{
            display: flex;
            margin-left: 210px;
            text-align: center;
            gap: 75px;
        }
        .card-container4{
            display: flex;
            margin-left: 210px;
            text-align: center;
            gap: 85px;
        }
         .card-container5{
            display: flex;
            margin-left: 210px;
            text-align: center;
            gap: 85px;
        }
        .hero-section{
            padding: 0px;
            padding-top: 20px;
            background-color: rgb(240,109,130);
            color: white;
            margin-bottom: 20px;
        }
         #phone-img1{
            margin-right:100px;
        }
      
        #phone-img2{
            margin-right: 100px;
        }
        .card-container6{
            display: flex;
            gap: 50px;
            margin-left: 200px;
        }
        .card-container6 section{
            background-color: rgb(244,243,243);
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
            padding-top: 5px;
            
        }
        .footer-background{
            position: absolute;
            width: 100%;
            margin-top: 40px;
        }
        .footer-P{
            display: flex;
            align-items: center;
            margin-left: 600px;
            margin-top: 50px;
            position: absolute;
        }
       .footer-section {
        display:flex;
        margin-top: 40px;
        
        color: white;
      }
      .footer-section2{
        color: white;
        position: absolute;
        padding-top: 200px;
        display: flex;
        gap: 50px;
        margin-left: 300px;
       
       
      }
      .footer-section2 li{
        list-style: none;
      }
      .get{
        font-size: large;
        margin-left: 100px;
        margin-top: 50px;
      }
      .card22A{
        margin-top: 80px;
        position: absolute;
        width: 100px;
        margin-left: 350px;
      }
      .card23A{
        position: absolute;
        margin-top: 80px;
        margin-left: 470px;
        width: 100px;
      }
      .line{
        /* color: white; */
        position: absolute;
        width:1259px;
        border: 1.4px solid white;
        margin-top: 370px;
       
      }
      .fotter-section3{
        display: flex;
        color: white;
        position: absolute;
        gap: 50px;
        margin-top: 380px;
        margin-left: 400px;
       
      }
