*{padding: 0px;
max-resolution: 0px;
box-sizing: border-box;}  
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.989);
  color: #fff;
  font-family: poppins;
  margin-left: 500px;
  margin-top: 70px;
}

.title {
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color:black;
}
.signin {
  font-size: 14.5px;
  color: rgba(30, 29, 29, 0.7);
}

.signin {
  text-align: center;
  font-size: 13px;
}

.signin a {
  color:blue;
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #ffffff;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: rgb(243, 104, 127);
 font-family: "Poppins", sans-serif;
}
span{
color: black;
}
::placeholder{
    color: rgb(200, 200, 204);
    font-size: 12px;
}
.images{
  width: 50px;
  color: black;
  background-color: black;
  margin-left: 150px;
  border: 1px solid black;
}
.footer-background{
            position: absolute;
            width: 1256.10px;
            height: 390px;
            margin-top: 40px;
        }
        .footer-P{
          display: flex;
          align-items: center;
            margin-left: 600px;
            margin-top: 50px;
            position: absolute;
        }
       .footer-section {
        display:flex;
        margin-top: 30px;
        
        color: white;
      }
      .footer-section2{
        color: white;
        position: absolute;
        padding-top: 200px;
        display: flex;
        gap: 50px;
        margin-left: 300px;
       
       
      }
      .footer-section2 li{
        list-style: none;
      }
      .get{
        font-size: large;
        margin-left: 100px;
        margin-top: 50px;
      }
      .card22A{
        margin-top: 80px;
        position: absolute;
        width: 100px;
        margin-left: 350px;
      }
      .card23A{
        position: absolute;
        margin-top: 80px;
        margin-left: 470px;
        width: 100px;
      }
      .line{
        /* color: white; */
        position: absolute;
        width:1240px;
        border: 1.4px solid white;
        margin-top: 370px;
       
      }
      .fotter-section3{
        display: flex;
        color: white;
        position: absolute;
        gap: 50px;
        margin-top: 380px;
        margin-left: 400px;
       
      }

